.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

.life-chapters-container {
  margin: 4%;
}

.header {
  background-color: #fff;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

/* TestDemo.css */
.item.center {
  transform: scale(1.1); /* Make the center item larger */
  transition: transform 0.5s ease;
  z-index: 10; /* Ensure it sits above other slides */
}

.carousel-container .slick-slide {
  transition: transform 0.5s ease;
  margin-top: 30px;
  margin-bottom: 30px; /* Adjust as needed */
}

.slide-slider {
  height: auto;
}

.learn-more {
  display: none; /* Hide button by default */
  margin-top: 10px;
}

.item.center .learn-more {
  display: block; /* Only display button in the center slide */
}

.banner {
  background: linear-gradient(
    to right,
    #fee2c3,
    #f6c062
  ); /* Adjust the colors as needed */
  padding: 20px 60px;
  font-family: Poppins, sans-serif;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tab-button {
  font-family: Poppins, sans-serif;
  background-color: transparent;
  border-color: transparent;
  font-weight: bolder;
  margin-top: 15px;
  line-height: 1.5; /* Adjusts the height of lines in the button, can help with alignment */
}

.demo-header {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
  height: 100px;
}

.demo-header-logo {
  font-family: Palatino Linotype, serif;
  font-size: 40px;
}

.photo-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.demo-name {
  font-size: 80px;
  font-weight: bold;
}

.search-box {
  font-family: "Poppins", sans-serif;
}

.tab-button .material-symbols-outlined {
  vertical-align: middle; /* Align the bottom of the icon with the baseline of the text */
  margin-right: 8px; /* Optional: adds some space between the icon and the text */
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: space-between;
  justify-content: space-between;
  margin: 0 auto;
}

.tabs-holder {
  margin-top: 10px;
}

.demo-page {
  background-color: #f5f5f5;
}

.vertical-image-holder {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.overall-image-holder {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  overflow-y: auto;
  height: 90%;
  padding: 40px;
  /*width: 100%;  Ensure this container is the full width it's allowed, but no more */
  /*max-width: 100vw; /* Prevents the container from extending beyond the view width */
}

.top-image {
  margin-bottom: 10px;
}

.family-tree-photo {
  height: 85%;
  width: auto;
  margin-top: 50px;
}

.white-box-holder {
  background-color: white;
  border-color: black;
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  height: 85vh;
  overflow: hidden; /* Ensures that anything outside this container is not visible */
}

.main-content {
  padding: 0;
  margin-top: 40px;
  min-height: 100vh; /* Take up the full viewport height */
}

p,
h1 {
  font-family: "Poppins", sans-serif;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #ffefb5;
  width: 100%;
  padding: 100px;
  text-align: left;
}

.sub-heading-container {
  width: 70%;
}

.main-heading {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 72px;
  margin: 0;
  text-align: left; /* Center the title text */
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  text-align: left; /* Center the subtitle text */
  margin-top: 20px; /* Add space between title and subtitle */
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  margin-top: 60px;
  max-width: 1200px; /* Limit the width and center it */
  margin-left: auto;
  margin-right: auto;
}

.content-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 50%;
  margin-left: 60px;
}

.heading-img {
  border-radius: 10px;
}

/* Image styles */
.overall-heading-container img {
  width: 20%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Match the border-radius from the screenshot */
}

.top-half {
  width: 100%;
  height: 50%; /* Height to cover the top half */
  background-color: #ffccbc; /* Color for the top half */
}

.overall-heading-container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    #ffefb5 0%,
    #ffefb5 50%,
    #ffffff 50%,
    #ffffff 100%
  );
}

.heading-text-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 10px;
}

.heading-content-container {
  text-align: left;
  width: 80%;
  border: 2px solid rgb(222, 218, 218);
  border-radius: 10px;
  padding: 5px;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.heading-title-container {
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
}

/* Additional styling for arrow containers if needed */
.slick-prev,
.slick-next {
  background-color: transparent; /* Example to remove any background styling */
  /* Other styles as necessary */
}

.slick-prev:before,
.slick-next:before {
  color: black !important; /* Choose the color you want for the arrows */
  font-size: 40px !important;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  flex-grow: 1; /* Makes the input field expand to fill the form width */
  padding: 8px 10px;
  width: 300px;
  border: 0.5px solid #f5f5f5;
  font-family: Poppins, sans-serif;
  border-radius: 4px;
  font-size: 186x; /* Adjust font size as needed */
}

.search-input:focus {
  outline: none; /* Optional: Removes the default focus outline */
}
