@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.header-container {
  display: flex;
  flex-direction: column; /* Stack name and location-date vertically */
  align-items: center; /* Center-align the items */
  width: 90%;
  margin: 20px auto;
}

.family-heading {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.family-content {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-align: left;
  width: 60%;
  font-size: 20px;
}

.remarkable-mother-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0px;
}

.gray-box-chapter {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin-bottom: 20px;
}

.inner-gray-box-chapter {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.gray-box-header {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 10px;
}

.gray-box-image-container {
  display: flex;
  flex-direction: row;
  margin: 50px 30px;
}

.left-quotation-mark {
  position: "absolute";
  font-size: 10em;
  color: "#CCC";
  opacity: 0.5;
}

.gray-box-image-container img {
  margin-right: 15px;
}

.dropdown-toggle {
  width: 100%;
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  background-color: #f5f5f5;
  border-radius: 5px;
  border-color: #f5f5f5;
  box-shadow: none;
  border: none;
  padding: 30px;
  margin-bottom: 20px;
}

.video-description {
  text-align: right;
  font-family: Poppins, sans-serif;
}

.dropdown-toggle-up {
  width: 100%;
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  background-color: #f5f5f5;
  border-radius: 5px;
  border-color: #f5f5f5;
  box-shadow: none;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}

.gray-box-text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 50px;
  margin-left: 45px;
}

.remarkable-mother-content {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  text-align: center;
  width: 60%;
  font-weight: bolder;
}

.family-container {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.banner {
  background: linear-gradient(
    to right,
    #fee2c3,
    #f6c062
  ); /* Adjust the colors as needed */
  padding: 20px 60px;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}
.name-heading-container {
  margin-bottom: 10px; /* Add some space below the name */
  text-align: left; /* Center the text */
  font-size: 24px; /* Adjust font size as needed */
  font-family: "Poppins", sans-serif;

  width: 100%;
}

.location-date-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* This will space out the two h1 tags */
  width: 100%; /* Use full available width */
}

.responsive-iframe {
  position: relative;
  overflow: hidden; /* This overflow applies to the container to ensure corners are clipped */
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  width: 100%; /* Full width */
}

iframe {
  border-radius: 20px; /* Rounded corners */
  border: none; /* Remove the default iframe border */
}

.media-container {
  max-width: 90%;
  margin: 0 auto;
}

.horizontal-media-container {
  max-width: 90%;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden; /* Prevent horizontal overflow */
}

.video-background-container {
  width: 60%;
}

.individual-demo-page-content {
  width: 85%;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-align: left;
  font-size: 20px;
}

.no-overflow-body-container {
  overflow: hidden;
  height: 100vh;
}

.demo-main-content {
  margin-top: 40px;
}
.vertical-photo-holder {
  width: 40%; /* Allow the photo holder to take up 30% of the space */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling */
  align-items: flex-end;
  max-height: 70vh;
  padding-right: 10px; /* Optional: Add some padding for better appearance */
}

.individual-chapter-page-image {
  width: 90%;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  color:rgb(222, 218, 218);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Black with opacity */
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  z-index: 10; /* Ensure the overlay is above other content */
}

.react-player {
  transform: scale(1.0); /* Scale the video to 80% of its original size */
}
